<section class="content-container loaded-{{loaded}}" data-ng-controller="CampaignsController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="campaign.name"></h1>
	</div>
	<div class="pull-right">
		<a class="btn btn-primary" href="/#!/campaigns/{{campaign._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="confirmRemove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Created on
			<span data-ng-if="!campaign.created">Jan 1 2015</span>
			<span data-ng-if="campaign.created" data-ng-bind="campaign.created | date:'mediumDate'"></span>
			by
			<span data-ng-if="!campaign.creator">admin</span>
			<span data-ng-if="campaign.creator" data-ng-bind="campaign.creator"></span>
		</em>
	</small>
	<hr/>
    <h2>Campaign Info</h2>
    <div class="form-group">
        <label class="control-label" for="name">Campaign Name</label> : <span data-ng-bind="campaign.campaign_name" class=""></span>
    </div>
    <div class="form-group">
        <label class="control-label" for="name">Campaign ID</label> : <span data-ng-bind="campaign.campaign_id" class=""></span>
    </div>
    <div class="form-group">
        <label class="control-label" for="name">Filter Label</label> : <span data-ng-bind="campaign.filter_label" class=""></span>
    </div>
</section>
